## 菌叢組成データの前処理

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

![](./slides/img0001.png)

# データの読み込み
- OTU1〜OTU4までを確認してみる。

In [2]:
df = pd.read_csv("./data/dummy-microbiome.tsv", sep="\t", index_col=0)
df[["OTU1", "OTU2", "OTU3", "OTU4"]]

       OTU1  OTU2  OTU3  OTU4
サンプル1    10   140     0    10
サンプル2    14    29     1    19
サンプル3    32   251    16    23

![](./slides/img0002.png)

- すべて表示してみる。
- 「Total」 -> サンプル全体のリード数

In [3]:
df

       OTU1  OTU2  OTU3  OTU4  …  Total
サンプル1    10   140     0    10  …   3000
サンプル2    14    29     1    19  …   2500
サンプル3    32   251    16    23  …   9800

![](./slides/img0003.png)

![](./slides/img0004.png)

"Total"列を使用して、それぞれのデータを百分率

In [4]:
df[["OTU1", "OTU2", "OTU3", "OTU4"]].apply(lambda x: x/df["Total"]*100)

           OTU1      OTU2      OTU3      OTU4
サンプル1  0.333333  4.666667  0.000000  0.333333
サンプル2  0.560000  1.160000  0.040000  0.760000
サンプル3  0.326531  2.561224  0.163265  0.234694

## OTU1について、
- 百分率化前 -> サンプル3
- 百分率化後 -> サンプル2